<!DOCTYPE css>
<style>
.orange-text {
  color: orange;
}
body {
  background-color: #f3e6cc;
}
body {
  font-family: 'Barlow', sans-serif;
}
.big-h1 {
  font-size: 35pt;
}
#fancyfont {
  font-family: 'Lobster', cursive;
}

.smaller-image {
  max-width: 50px;
  max-height: 50px;
}
</style>
