<<<<<<< HEAD
h1 {
  color: rgb(218, 127, 48);
}
body {
  background-color: #f6dba5;
}
body {
  font-family: 'Barlow', sans-serif;
}
.big-h1 {
  font-size: 35pt;
}
#fancyfont {
  font-family: 'Lobster', cursive;